<a href="https://colab.research.google.com/github/villafue/Progamming/blob/main/Coding%20Interview/Coding_Practice_9Aug21.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Practice session with Dhir for the Tatari Analyst "on-site." It was Pandas focused

In [ ]:
import pandas as pd

df = pd.DataFrame({'Name': ['John Larter', 'Robert Junior', 'Jonny Depp'],
                    'Age':[32, 34, 36]})


#Split Name column into “First” and “Last” column respectively and add it to the existing Dataframe .

# .str.lower, upper

#fl_name = list(df['Name'])
#print(f_name)

#f_name = []
#l_name = []
#for f, l in f_name:
    #fl_name.split(' ')
    #f_name.append(f)
   # l_name.append(l)

#print(f_name)
#print(l_name)

#df['test'] = df.Name.str.split(expand=True)
# I get this error: ValueError: Wrong number of items passed 2, placement implies 1
# I need to pass two columns on the left.
 
#display(df)
#df['First'] = [first for first in df['test'] if df['test'][0]]

#df.Name.str.split(expand=True)
#fl_name = list(df.test)
#print(fl_name)

#df.Name.str.split(expand=True)

# bydefault splitting is done on the basis of single space.
df[['First','Last']] = df.Name.str.split(expand=True)
display(df)