<a href="https://colab.research.google.com/github/villafue/Progamming/blob/main/Coding%20Interview/Coding_Practice_16July21.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
subject_id,student_id
10030,55000
10030,55804
10250,55804
10510,55000
#1. Use pandas to read the csv file, Data.csv; 
#Processing -> count the number of students per subject.
10030 : 2
10250 : 1
10510 : 1

import pandas as pd
df = pd.read_csv('Data.csv')
df.groupby('subject_id').count()
df.groupby('subject_id').agg('count')



# 2. Use base Python only to read the csv file, Data.csv; 
# Processing -> count the number of students per subject.
# I can also look at collections
_dic = {}
lst = [[10030,55000],[10030,55804],[],[]]
for x in lst
  if x[0] not in _dic.keys(): #x = [10030, 50000] then x[0] = 10030 
     _dic[x[0]] = 1
     
  else:
       _dic[x[0]] += 1
  
  
  
#SQL,datatable 
 SELECT subject_id, COUNT(student_id) FROM datatable GROUP BY subject_id
 
 SELECT DISTINCT subject_id, COUNT(student_id)   
  FROM datatable 
  HAVING COUNT(student_id) > 1 
 
#having agg_fn condition