<a href="https://colab.research.google.com/github/villafue/Progamming/blob/main/Coding%20Interview/Springboard_Coding_Exam_11April2021.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Below is the coding test from Springboard:



*   Test was administered by Raghunandan Patthar
*   Test was taken at 0800hrs PST on Sunday, April 11, 2021
*   I was able to do the SQL question with some prompts
*   I could not do the Python question without his guidance
*   In terms of what to know for real employment coding exams this is what I need to know:
 *   He said to study "Basic Data Structures" such as list, tuples, dictionaries, json
 *   He said I need to know Pandas
 *   He said I need to know SQL through Joins, Aggregations, Window Functions, Subqueries
* He said to use these three websites in order from best to worst: leetcode, Hacker Rank, Hacker Earth.

This is the first of two questions and it is SQL:

In [ ]:
# Your previous MySQL content is preserved below:
# 
# /*
# CoderPad provides a basic SQL sandbox with the following schema.
# You can also use commands like `show tables` and `desc employees`
# 
# employees                             projects
# +---------------+---------+           +---------------+---------+
# | id            | int     |<----+  +->| id            | int     |
# | first_name    | varchar |     |  |  | title         | varchar |
# | last_name     | varchar |     |  |  | start_date    | date    |
# | salary        | int     |     |  |  | end_date      | date    |
# | department_id | int     |--+  |  |  | budget        | int     |
# +---------------+---------+  |  |  |  +---------------+---------+
#                              |  |  |
# departments                  |  |  |  employees_projects
# +---------------+---------+  |  |  |  +---------------+---------+
# | id            | int     |<-+  |  +--| project_id    | int     |
# | name          | varchar |     +-----| employee_id   | int     |
# +---------------+---------+           +---------------+---------+
# */
'''SQL Test Question

L1:fetch first name, last name, salary, department name where department id's are 
   the same in the table employees and departments and arrange the salary in descending #order
'''
# Answer is below:

# SELECT first_name, last_name, salary, name AS department
# FROM employees AS e
# INNER JOIN departments AS d
# ON e.department_id = d.id
# ORDER BY salary DESC;
#

Below is the "Schema" tab for the SQL question. I did not use this but it may be useful for other questions. Unfortunately, I could not retreive the output of my queries to save for study.

In [ ]:
A MySQL database is available to your program. Your code can connect to it at this socket:
/tmp/mysql/socket/mysqld.sock
Database state persists across code runs. To reset the state, press Reset or change the language.

Schema

DESCRIBE departments;
+-------+--------------+------+-----+---------+----------------+
| Field | Type         | Null | Key | Default | Extra          |
+-------+--------------+------+-----+---------+----------------+
| id    | int          | NO   | PRI | NULL    | auto_increment |
| name  | varchar(255) | YES  |     | NULL    |                |
+-------+--------------+------+-----+---------+----------------+
DESCRIBE employees;
+---------------+--------------+------+-----+---------+----------------+
| Field         | Type         | Null | Key | Default | Extra          |
+---------------+--------------+------+-----+---------+----------------+
| id            | int          | NO   | PRI | NULL    | auto_increment |
| first_name    | varchar(255) | YES  |     | NULL    |                |
| last_name     | varchar(255) | YES  |     | NULL    |                |
| salary        | int          | YES  |     | NULL    |                |
| department_id | int          | YES  | MUL | NULL    |                |
+---------------+--------------+------+-----+---------+----------------+
DESCRIBE employees_projects;
+-------------+------+------+-----+---------+-------+
| Field       | Type | Null | Key | Default | Extra |
+-------------+------+------+-----+---------+-------+
| project_id  | int  | YES  | MUL | NULL    |       |
| employee_id | int  | YES  | MUL | NULL    |       |
+-------------+------+------+-----+---------+-------+
DESCRIBE projects;
+------------+--------------+------+-----+---------+----------------+
| Field      | Type         | Null | Key | Default | Extra          |
+------------+--------------+------+-----+---------+----------------+
| id         | int          | NO   | PRI | NULL    | auto_increment |
| title      | varchar(255) | YES  |     | NULL    |                |
| start_date | date         | YES  |     | NULL    |                |
| end_date   | date         | YES  |     | NULL    |                |
| budget     | int          | YES  |     | NULL    |                |
+------------+--------------+------+-----+---------+----------------+

Want to use your own custom database in an interview? Go to https://app.coderpad.io/dashboard/databases to get started.

---

The next question is Basic Python Structure:

* The first question was to create a dictionary. He did this part for me. Notice, that it is 3 dictionaries inside a list. In other words, it is a "list of dictionaries." Also, the dictionaries are independent of each other.
* He walked me through creating dict1. That was my template for dict2 and dict 3. 
* He said one could use a loop to do this too but this is one way to answer this question.

These are the steps for dict1:

1. Because the dictionaries are in a list, you can access the first dictionary by slicing the list using its index with square brackets. This was saved to variable `dict1`
2. The output was a list within a list `[["John",'Sally','Tim']]`. This was an issue because I could not sort it. I did not realize that this was still a dictionary so he had to education me on this. I could access it by using the its key of `'Name'`. This is what was saved for `dict1_val_list`.
3. The last step is just sorting it in reverse.

In [ ]:
'''
1. create a list of dictionaries to hold the below dataset:
#
#Name        id         department
#John        123         Marketing
#Sally       456         sales
#Tim         789         Data
#
2. Print the sorted dictionary by value  in descending order
'''

list_dict = [{'Name':["John",'Sally','Tim']},{'id':[123,456,789]},{"department":['Marketing','Sales','Data']}]

#print(list_dict)

dict1 = list_dict[0]
dict1_val_list = dict1['Name']
print(dict1_val_list)
#dict1_val = dict1_val_list[0]
print(sorted(dict1_val_list, reverse=True))

dict2 = list_dict[1]
dict2_val_list = dict2['id']
print(dict2_val_list)
print(sorted(dict2_val_list, reverse=True))

dict3 = list_dict[2]
dict3_val_list = dict3['department']
print(dict3_val_list)
print(sorted(dict3_val_list, reverse=True))

The output for the Python question is below:

In [ ]:
Python 3 environment ready. Hit run to try out some code!
Python 3.8.0

>>> 

Roland Villafuerte ran 73 lines of Python 3 (finished in 820ms):


>>> 

Roland Villafuerte ran 73 lines of Python 3 (finished in 649ms):


>>> 

Roland Villafuerte ran 74 lines of Python 3 (finished in 651ms):

[{'Name': ['John', 'Sally', 'Tim']}, {'id': [123, 456, 789]}, {'department': ['Marketing', 'Sales', 'Data']}]

>>> 

Roland Villafuerte ran 77 lines of Python 3 (finished in 746ms):

[{'Name': ['John', 'Sally', 'Tim']}, {'id': [123, 456, 789]}, {'department': ['Marketing', 'Sales', 'Data']}]
Traceback (most recent call last):
  File "/home/coderpad/solution.py", line 14, in <module>
    df = pd.DataFrame(list_dict)
NameError: name 'pd' is not defined


>>> 

Roland Villafuerte ran 77 lines of Python 3 (finished in 640ms):

[{'Name': ['John', 'Sally', 'Tim']}, {'id': [123, 456, 789]}, {'department': ['Marketing', 'Sales', 'Data']}]
{'Name': ['John', 'Sally', 'Tim']}

>>> 

Roland Villafuerte ran 77 lines of Python 3 (finished in 783ms):

dict_values([['John', 'Sally', 'Tim']])

>>> 

Roland Villafuerte ran 77 lines of Python 3 (finished in 692ms):

[['John', 'Sally', 'Tim']]

>>> 

Roland Villafuerte ran 78 lines of Python 3 (finished in 712ms):

Traceback (most recent call last):
  File "/home/coderpad/solution.py", line 16, in <module>
    dict1_val = dict1_val_list[0]
TypeError: 'dict_values' object is not subscriptable


>>> 

Springboard Career Services ran 79 lines of Python 3 (finished in 742ms):

dict_values([['John', 'Sally', 'Tim']])
Traceback (most recent call last):
  File "/home/coderpad/solution.py", line 17, in <module>
    dict1_val = dict1_val_list[0]
TypeError: 'dict_values' object is not subscriptable


>>> 

Springboard Career Services ran 79 lines of Python 3 (finished in 887ms):

dict_values([['John', 'Sally', 'Tim']])

>>> 

Springboard Career Services ran 79 lines of Python 3 (finished in 691ms):

['John', 'Sally', 'Tim']

>>> 

Springboard Career Services ran 79 lines of Python 3 (finished in 700ms):

['John', 'Sally', 'Tim']
['Tim', 'Sally', 'John']

>>> 

Roland Villafuerte ran 85 lines of Python 3 (finished in 734ms):

  File "/home/coderpad/solution.py", line 21
    dic2_val_list = dict2['id]
                              ^
SyntaxError: EOL while scanning string literal


>>> 

Roland Villafuerte ran 85 lines of Python 3 (finished in 733ms):

  File "/home/coderpad/solution.py", line 84
    #
      ^
SyntaxError: unexpected EOF while parsing


>>> 

Roland Villafuerte ran 85 lines of Python 3 (finished in 663ms):

['John', 'Sally', 'Tim']
['Tim', 'Sally', 'John']
[123, 456, 789]
[789, 456, 123]

>>> 

Roland Villafuerte ran 89 lines of Python 3 (finished in 649ms):

['John', 'Sally', 'Tim']
['Tim', 'Sally', 'John']
[123, 456, 789]
[789, 456, 123]
['Marketing', 'Sales', 'Data']
['Sales', 'Marketing', 'Data']