<a href="https://colab.research.google.com/github/villafue/Progamming/blob/main/SQL/Tutorial/Joining%20Data%20in%20SQL/2%20Outer%20joins%20and%20cross%20joins/2_Outer_joins_and_cross_joins.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Outer joins and cross joins

In this chapter, you'll come to grips with different kinds of outer joins. You'll learn how to gain further insights into your data through left joins, right joins, and full joins. In addition to outer joins, you'll also work with cross joins.

# LEFT and RIGHT JOINs

. LEFT and RIGHT JOINs

Congratulations on completing Chapter 1 on INNER JOINs. Welcome to Chapter 2 on OUTER JOINs! You can remember outer joins as reaching OUT to another table while keeping all of the records of the original table. Inner joins keep only the records IN both tables. You'll begin this chapter by exploring (1) LEFT JOINs, (2) RIGHT JOINs, and (3) FULL JOINs, which are the three types of OUTER JOINs. Let's begin by exploring how a LEFT JOIN differs from an INNER JOIN via a diagram.
2. INNER JOIN diagram

Recall the inner join diagram from Chapter 1. The only records that were included in the resulting table of the INNER JOIN query were those in which the id field had matching values.
3. LEFT JOIN initial diagram

In contrast, a LEFT JOIN notes those records in the left table that do not have a match on the key field in the right table. This is denoted in the diagram by the open circles remaining close to the left table for id values of 2 and 3. These values of 2 and 3 do not appear in the id field of the right table.
4. LEFT JOIN diagram

You now see the result of the LEFT JOIN query. Whereas the INNER JOIN kept just the records corresponding to id values of 1 and 4, a LEFT JOIN keeps all of the original records in the left table but then marks the values as missing in the right table for those that don't have a match. The missing values are marked with dark gray boxes here for clarity. Note that the values of 5 and 6 for id in the right table are not found in the result of LEFT JOIN in any way.
5. Multiple INNER JOIN diagram

It isn't always the case that each key value in the left table corresponds to exactly one record in the key column of the right table. In these examples, we have this layout. Missing entries still occur for ids of 2 and 3 and the value of R3 is brought into the join from right2 since it matches on id 4. Duplicate rows are shown in the LEFT JOIN for id 1 since it has two matches corresponding to the values of R1 and R2 in the right2 table.
6. The syntax of a LEFT JOIN

The syntax of the LEFT JOIN is similar to that of the INNER JOIN. Let's explore the same code you used before to determine the countries with a prime minister and a president, but let's use a LEFT JOIN instead of an INNER JOIN. Further, let's remove continent to save space on the screen. The first four records in this table are the same as those from the INNER JOIN. The last six correspond to the countries that do not have a president and thus their president values are missing.
7. RIGHT JOIN

The RIGHT JOIN is much less common than the LEFT JOIN so we won't spend as much time on it here. The diagram will help you to understand how it works. Instead of matching entries in the id column on the left table TO the id column of the right table, a RIGHT JOIN does the reverse. Therefore, we see open circles on the ids of 5 and 6 in the right table since they are not found in the left table. The resulting table from the RIGHT JOIN shows these missing entries in the L_val field. As you can see in SQL the right table appears after RIGHT JOIN and the left table appears after FROM.
8. Let's practice!

I'll see you again soon to introduce FULL JOINs after you complete the next few exercises.

# Left Join

Now you'll explore the differences between performing an inner join and a left join using the cities and countries tables.

You'll begin by performing an inner join with the cities table on the left and the countries table on the right. Remember to alias the name of the city field as city and the name of the country field as country.

You will then change the query to a left join. Take note of how many records are in each query here!

Instructions

1. Fill in the code based on the instructions in the code comments to complete the inner join. Note how many records are in the result of the join in the query result tab.

In [ ]:
#-- Select the city name (with alias), the country code,
#-- the country name (with alias), the region,
#-- and the city proper population
SELECT c1.name AS city, code, c2.name AS country,
       region, city_proper_pop
#-- From left table (with alias)
FROM cities AS c1
#  -- Join to right table (with alias)
  INNER JOIN countries AS c2
#    -- Match on country code
    ON c1.country_code = c2.code
#-- Order by descending country code
ORDER BY code DESC;

'''
city	code	country	region	city_proper_pop
Harare	ZWE	Zimbabwe	Eastern Africa	1606000
Lusaka	ZMB	Zambia	Eastern Africa	1742980
Cape Town	ZAF	South Africa	Southern Africa	3740030

Showing 100 out of 230 rows
'''

2. Change the code to perform a LEFT JOIN instead of an INNER JOIN. After executing this query, note how many records the query result contains.

In [ ]:
SELECT c1.name AS city, code, c2.name AS country,
       region, city_proper_pop
FROM cities AS c1
#  -- 1. Join right table (with alias)
  LEFT JOIN countries AS c2
#    -- 2. Match on country code
    ON c1.country_code = c2.code
#-- 3. Order by descending country code
ORDER BY code DESC;

'''
city	code	country	region	city_proper_pop
Taichung	null	null	null	2752410
Tainan	null	null	null	1885250
Kaohsiung	null	null	null	2778920

Showing 100 out of 236 rows
'''

Conclusion

Perfect! Notice that the INNER JOIN version resulted in 230 records. The LEFT JOIN version returned 236 rows.

# Left join (2)

Next, you'll try out another example comparing an inner join to its corresponding left join. Before you begin though, take note of how many records are in both the countries and languages tables below.

You will begin with an inner join on the countries table on the left with the languages table on the right. Then you'll change the code to a left join in the next bullet.

Note the use of multi-line comments here using /* and */.

Instructions

1. Perform an inner join. Alias the name of the country field as country and the name of the language field as language.

2. Sort based on descending country name.

In [ ]:
#/*
#5. Select country name AS country, the country's local name,
#the language name AS language, and
#the percent of the language spoken in the country
#*/
SELECT c.name AS country, local_name, l.name AS language, percent
#-- 1. From left table (alias as c)
FROM countries AS c
#  -- 2. Join to right table (alias as l)
  INNER JOIN languages AS l
#    -- 3. Match on fields
    ON c.code = l.code
#-- 4. Order by descending country
ORDER BY country DESC;

'''
country	local_name	language	percent
Zimbabwe	Zimbabwe	Shona	null
Zimbabwe	Zimbabwe	Venda	null
Zimbabwe	Zimbabwe	Tswana	null
'''

3. Perform a left join instead of an inner join. Observe the result, and also note the change in the number of records in the result.

4. Carefully review which records appear in the left join result, but not in the inner join result.

In [ ]:
/*
5. Select country name AS country, the country's local name,
the language name AS language, and
the percent of the language spoken in the country
*/
SELECT c.name AS country, local_name, l.name AS language, percent
-- 1. From left table (alias as c)
FROM countries AS c
  -- 2. Join to right table (alias as l)
  LEFT JOIN languages AS l
    -- 3. Match on fields
    ON c.code = l.code
-- 4. Order by descending country
ORDER BY country DESC;

'''
country	local_name	language	percent
Zimbabwe	Zimbabwe	Chibarwe	null
Zimbabwe	Zimbabwe	Shona	null
Zimbabwe	Zimbabwe	Ndebele	null
'''

Conclusion

Perfect! Notice that the INNER JOIN version resulted in 909 records. The LEFT JOIN version returned 916 rows.

# Left join (3)

You'll now revisit the use of the AVG() function introduced in our [Intro to SQL for Data Science](https://www.datacamp.com/courses/intro-to-sql-for-data-science) course. You will use it in combination with left join to determine the average gross domestic product (GDP) per capita by region in 2010.

Instructions

1. Begin with a left join with the countries table on the left and the economies table on the right.

2. Focus only on records with 2010 as the year.

In [ ]:
#-- 5. Select name, region, and gdp_percapita
SELECT name, region, gdp_percapita
#-- 1. From countries (alias as c)
FROM countries AS c
#  -- 2. Left join with economies (alias as e)
  LEFT JOIN economies AS e
#    -- 3. Match on code fields
    ON c.code = e.code
#-- 4. Focus on 2010
WHERE year = '2010';

'''
name	region	gdp_percapita
Afghanistan	Southern and Central Asia	539.667
Angola	Central Africa	3599.27
Albania	Southern Europe	4098.13
'''

3. Modify your code to calculate the average GDP per capita AS avg_gdp for each region in 2010.

4. Select the region and avg_gdp fields.

In [ ]:
#-- Select fields
SELECT region, AVG(gdp_percapita) AS avg_gdp
#-- From countries (alias as c)
FROM countries AS c
#  -- Left join with economies (alias as e)
  LEFT JOIN economies AS e
#    -- Match on code fields
    ON c.code = e.code
#-- Focus on 2010
WHERE year = '2010'
#-- Group by region
GROUP BY region;

'''
region	avg_gdp
Southern Africa	5051.59797363281
Caribbean	11413.339454064
Eastern Africa	1757.34816169739
'''

5. Arrange this data on average GDP per capita for each region in 2010 from highest to lowest average GDP per capita.

In [ ]:
#-- Select fields
SELECT region, AVG(gdp_percapita) AS avg_gdp
#-- From countries (alias as c)
FROM countries AS c
#  -- Left join with economies (alias as e)
  LEFT JOIN economies AS e
#    -- Match on code fields
    ON c.code = e.code
#-- Focus on 2010
WHERE year = '2010'
#-- Group by region
GROUP BY region
#-- Order by descending avg_gdp
ORDER BY avg_gdp DESC;

'''
region	avg_gdp
Western Europe	58130.9614955357
Nordic Countries	57073.99765625
North America	47911.509765625
'''

Conclusion

Well done. Notice how gradually you're adding more and more building blocks to your SQL vocabulary. This enables you to answer questions of ever-increasing complexity!

# Right join

Right joins aren't as common as left joins. One reason why is that you can always write a right join as a left join.

Instructions

1. The left join code is commented out here. Your task is to write a new query using rights joins that produces the same result as what the query using left joins produces. Keep this left joins code commented as you write your own query just below it using right joins to solve the problem.

Note the order of the joins matters in your conversion to using right joins!

In [ ]:
#-- convert this code to use RIGHT JOINs instead of LEFT JOINs
'''/*
SELECT cities.name AS city, urbanarea_pop, countries.name AS country,
       indep_year, languages.name AS language, percent
FROM cities
  LEFT JOIN countries
    ON cities.country_code = countries.code
  LEFT JOIN languages
    ON countries.code = languages.code
ORDER BY city, language;
*/'''

SELECT cities.name AS city, urbanarea_pop, countries.name AS country,
       indep_year, languages.name AS language, percent
FROM languages
  RIGHT JOIN countries
    ON languages.code = countries.code
  RIGHT JOIN cities
    ON countries.code = cities.country_code
ORDER BY city, language;

'''
city	urbanarea_pop	country	indep_year	language	percent
Abidjan	4765000	Cote d'Ivoire	1960	French	null
Abidjan	4765000	Cote d'Ivoire	1960	Other	null
Abu Dhabi	1145000	United Arab Emirates	1971	Arabic	null
'''

Conclusion

Correct; everything should be reversed!

# FULL JOINs

1. FULL JOINs

The last of the three types of OUTER JOINs is the FULL JOIN. In this video, you'll see the differences between a FULL JOIN and the other joins you've learned about. In particular, the instruction will focus on comparing them to INNER JOINs and LEFT JOINs and then to LEFT JOINs and RIGHT JOINs. Let's first review how the diagram changes between an INNER JOIN and a LEFT JOIN for our basic example using the left and right tables. Then we'll delve into the FULL JOIN diagram and its SQL code.
2. INNER JOIN vs LEFT JOIN

Recall that an INNER JOIN keeps only the records that have matching key field values in both tables. A LEFT JOIN keeps all of the records in the left table while bringing in missing values for those key field values that don't appear in the right table. Let's next review the differences between a LEFT JOIN and a RIGHT JOIN.
3. LEFT JOIN vs RIGHT JOIN

Now you can see the differences between a LEFT JOIN and a RIGHT JOIN. The id values of 2 and 3 in the left table do not match with the id values in the right table, so missing values are brought in for them in the LEFT JOIN. Likewise for the RIGHT JOIN, missing values are brought in for id values of 5 and 6.
4. FULL JOIN initial diagram

A FULL JOIN combines a LEFT JOIN and a RIGHT JOIN as you can see by looking at this diagram. So it will bring in all records from both the left and the right table and keep track of the missing values accordingly.
5. FULL JOIN diagram

Note the missing values here and that all six of the values of id are included in the table. You can also see from the SQL code to produce this FULL JOIN result that the general format aligns closely with the SQL syntax you've seen for both an INNER JOIN and a LEFT JOIN. You'll next explore an example from the leaders database.
6. FULL JOIN example using leaders database

Let's revisit the example of looking at countries with prime ministers and/or presidents. We'll walk through the code line by line to do this using a FULL JOIN. The SELECT statement starts us off by including the country field from both of our tables of interest and also the prime_minister and president fields.
7. FULL JOIN example using leaders database

Next, the left table is specified as prime_ministers. Note that the order matters here and if you switched the two tables you'd get slightly different output.
8. FULL JOIN example using leaders database

The right table is specified as presidents with the alias of p2. prime_ministers was aliased as p1 in the previous line.
9. FULL JOIN example using leaders database

Lastly, the join is done based on the key field of country in both tables.
10. FULL JOIN example results using leaders

Time for some practice!
11. Let's practice!

# Full join

In this exercise, you'll examine how your results differ when using a full join versus using a left join versus using an inner join with the countries and currencies tables.

You will focus on the North American region and also where the name of the country is missing. Dig in to see what we mean!

Begin with a full join with countries on the left and currencies on the right. The fields of interest have been SELECTed for you throughout this exercise.

Then complete a similar left join and conclude with an inner join.

Instructions

1. Choose records in which region corresponds to North America or is NULL.

In [ ]:
SELECT name AS country, code, region, basic_unit
#-- 3. From countries
FROM countries
#  -- 4. Join to currencies
  FULL JOIN currencies
#    -- 5. Match on code
    USING (code)
#-- 1. Where region is North America or null
WHERE region = 'North America' OR region IS NULL
#-- 2. Order by region
ORDER BY region;

'''
country	code	region	basic_unit
Bermuda	BMU	North America	Bermudian dollar
United States	USA	North America	United States dollar
Canada	CAN	North America	Canadian dollar
'''

3. Repeat the same query as above but use a LEFT JOIN instead of a FULL JOIN. Note what has changed compared to the FULL JOIN result!

In [ ]:
SELECT name AS country, code, region, basic_unit
#-- 1. From countries
FROM countries
#  -- 2. Join to currencies
  LEFT JOIN currencies
#    -- 3. Match on code
    USING (code)
#-- 4. Where region is North America or null
WHERE region = 'North America' OR region IS NULL
#-- 5. Order by region
ORDER BY region;

'''
country	code	region	basic_unit
Bermuda	BMU	North America	Bermudian dollar
Canada	CAN	North America	Canadian dollar
United States	USA	North America	United States dollar
Greenland	GRL	North America	null
Showing 4 out of 4 rows
'''

3. Repeat the same query as above but use an INNER JOIN instead of a FULL JOIN. Note what has changed compared to the FULL JOIN and LEFT JOIN results!

In [ ]:
SELECT name AS country, code, region, basic_unit
FROM countries
#  -- 1. Join to currencies
  INNER JOIN currencies
    USING (code)
#-- 2. Where region is North America or null
WHERE region = 'North America' OR region IS NULL
#-- 3. Order by region
ORDER BY region;

'''
country	code	region	basic_unit
Bermuda	BMU	North America	Bermudian dollar
Canada	CAN	North America	Canadian dollar
United States	USA	North America	United States dollar
Showing 3 out of 3 rows
'''

Conclusion

Have you kept an eye out on the different numbers of records these queries returned? The FULL JOIN query returned 17 rows, the OUTER JOIN returned 4 rows, and the INNER JOIN only returned 3 rows. Do these results make sense to you?

# Full join (2)

You'll now investigate a similar exercise to the last one, but this time focused on using a table with more records on the left than the right. You'll work with the languages and countries tables.

Begin with a full join with languages on the left and countries on the right. Appropriate fields have been selected for you again here.

Instructions

1. Choose records in which countries.name starts with the capital letter 'V' or is NULL.

2. Arrange by countries.name in ascending order to more clearly see the results.

In [ ]:
SELECT countries.name, code, languages.name AS language
#-- 3. From languages
FROM languages
#  -- 4. Join to countries
  FULL JOIN countries
#    -- 5. Match on code
    USING (code)
#-- 1. Where countries.name starts with V or is null
WHERE countries.name LIKE 'V%' OR countries.name IS NULL
#-- 2. Order by ascending countries.name
ORDER BY countries.name;

'''
name	code	language
Vanuatu	VUT	Tribal Languages
Vanuatu	VUT	English
Vanuatu	VUT	French
'''

3. Repeat the same query as above but use a left join instead of a full join. Note what has changed compared to the full join result!

In [ ]:
SELECT countries.name, code, languages.name AS language
FROM languages
#  -- 1. Join to countries
  LEFT JOIN countries
#    -- 2. Match using code
    USING (code)
#-- 3. Where countries.name starts with V or is null
WHERE countries.name LIKE 'V%' OR countries.name IS NULL
ORDER BY countries.name;

'''
name	code	language
Vanuatu	VUT	English
Vanuatu	VUT	Other
Vanuatu	VUT	French
'''

4. Repeat once more, but use an inner join instead of a left join. Note what has changed compared to the full join and left join results.

In [ ]:
SELECT countries.name, code, languages.name AS language
FROM languages
  -- 1. Join to countries
  INNER JOIN countries
    USING (code)
-- 2. Where countries.name starts with V or is null
WHERE countries.name LIKE 'V%' OR countries.name IS NULL
ORDER BY countries.name;

'''
name	code	language
Vanuatu	VUT	Tribal Languages
Vanuatu	VUT	Bislama
Vanuatu	VUT	English
'''

Conclusion

Well done. Again, make sure to compare the number of records the different types of joins return and try to verify whether the results make sense.

# Full join (3)

You'll now explore using two consecutive full joins on the three tables you worked with in the previous two exercises.

Instructions

1. Complete a full join with countries on the left and languages on the right.

2. Next, full join this result with currencies on the right.

3. Use LIKE to choose the Melanesia and Micronesia regions (Hint: 'M%esia').

4. Select the fields corresponding to the country name AS country, region, language name AS language, and basic and fractional units of currency.

In [ ]:
#-- 7. Select fields (with aliases)
SELECT c1.name AS country, region, l.name AS language,
       basic_unit, frac_unit
#-- 1. From countries (alias as c1)
FROM countries AS c1
#  -- 2. Join with languages (alias as l)
  FULL JOIN languages AS l
#    -- 3. Match on code
    USING (code)
#  -- 4. Join with currencies (alias as c2)
  FULL JOIN currencies AS c2
#    -- 5. Match on code
    USING (code)
#-- 6. Where region like Melanesia and Micronesia
WHERE region LIKE 'M%esia';

'''
country	region	language	basic_unit	frac_unit
Kiribati	Micronesia	English	Australian dollar	Cent
Kiribati	Micronesia	Kiribati	Australian dollar	Cent
Marshall Islands	Micronesia	Other	United States dollar	Cent
'''

Conclusion

Well done! How many countries are in the regions you filtered on?

# Review outer joins

A(n) ___ join is a join combining the results of a ___ join and a ___ join.

Possible Answers

1. left, full, right: Incorrect. Are you sure you have these in the right order?

2. right, full, left: Incorrect. Are you sure you have these in the right order?

3. inner, left, right: Incorrect. Should it say 'inner' here or something else?

4. None of the above are true: Correct

# CROSSing the rubicon

1. CROSSing the Rubicon

Now that you've worked with INNER JOINs and OUTER JOINs it's time to check out the CROSS JOIN. CROSS JOINs create all possible combinations of two tables. Let's explore the diagram for a CROSS JOIN next.
2. CROSS JOIN diagram

In this diagram we have two tables named table1 and table2. Each table only has one field, both with the name of id. The result of the CROSS JOIN is all nine combinations of the id values of 1, 2, and 3 in table1 with the id values of A, B, and C for table2. Next you'll explore an example from the leaders database and look over the SQL syntax for a CROSS JOIN.
3. Pairing prime ministers with presidents

Suppose that all prime ministers in North America and Oceania in the prime_ministers table are scheduled for individual meetings with all presidents in the presidents table. You can look at all of these combinations by using a CROSS JOIN. The syntax here remains similar to what you've seen earlier in the course. We use a WHERE clause to focus on only prime ministers in North America and Oceania in the prime_ministers table. The results of the query give us the pairings for the two prime ministers in North America and Oceania from the prime_ministers table with the seven presidents in the presidents table.
4. Let's practice!

You'll now hop into an exercise focusing on a couple of cities in a tribute to the author Charles Dickens. This chapter closes with a challenge to test your comprehension of the content covered here. Good luck!

# A table of two cities

This exercise looks to explore languages potentially and most frequently spoken in the cities of Hyderabad, India and Hyderabad, Pakistan.

You will begin with a cross join with cities AS c on the left and languages AS l on the right. Then you will modify the query using an inner join in the next tab.

Instructions

1. Create the cross join as described above. (Recall that cross joins do not use ON or USING.)

2. Make use of LIKE and Hyder% to choose Hyderabad in both countries.

3. Select only the city name AS city and language name AS language.

In [ ]:
#-- 4. Select fields
SELECT c.name AS city, l.name AS language
#-- 1. From cities (alias as c)
FROM cities AS c        
#  -- 2. Join to languages (alias as l)
  CROSS JOIN languages AS l
#-- 3. Where c.name like Hyderabad
WHERE c.name LIKE 'Hyder%';

'''
city	language
Hyderabad (India)	Dari
Hyderabad	Dari
Hyderabad (India)	Pashto
'''

4. Use an inner join instead of a cross join. Think about what the difference will be in the results for this inner join result and the one for the cross join.

In [ ]:
-- 5. Select fields
SELECT c.name AS city, l.name AS language
-- 1. From cities (alias as c)
from cities as c     
  -- 2. Join to languages (alias as l)
  INNER JOIN languages AS l
    -- 3. Match on country code
    ON c.country_code = l.code
-- 4. Where c.name like Hyderabad
WHERE c.name LIKE 'Hyder%';

'''
city	language
Hyderabad (India)	Hindi
Hyderabad (India)	Bengali
Hyderabad (India)	Telugu
'''

Conclusion

Good one! Can you see the difference between a CROSS JOIN and a INNER JOIN?

# Outer challenge

Now that you're fully equipped to use outer joins, try a challenge problem to test your knowledge!

In terms of life expectancy for 2010, determine the names of the lowest five countries and their regions.

Instructions

1. Select country name AS country, region, and life expectancy AS life_exp.

2. Make sure to use LEFT JOIN, WHERE, ORDER BY, and LIMIT.

In [ ]:
#-- Select fields
SELECT c.name AS country, region, life_expectancy AS life_exp
#-- From countries (alias as c)
FROM countries AS c
#  -- Join to populations (alias as p)
  LEFT JOIN populations as p
#    -- Match on country code
    ON c.code = p.country_code
#-- Focus on 2010
WHERE year = '2010'
#-- Order by life_exp
ORDER BY life_exp
#-- Limit to 5 records
LIMIT 5

'''
country	region	life_exp
Lesotho	Southern Africa	47.4834
Central African Republic	Central Africa	47.6253
Sierra Leone	Western Africa	48.229
'''

Conclusion

This was the last exercise of this chapter on outer joins and cross joins. In the next chapter, you'll learn about set theory clauses!