<a href="https://colab.research.google.com/github/villafue/Progamming/blob/main/Coding%20Interview/Take%20Home/Springboard/Unit%2027.2/ultimate_challengeUltimate_Challenge_Part_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
df = pd.read_json("https://raw.githubusercontent.com/villafue/Progamming/main/Coding%20Interview/Take%20Home/Springboard/Unit%2027.2/ultimate_challenge/ultimate_data_challenge.json")
df.head()

             city  trips_in_first_30_days  ... avg_dist  avg_rating_by_driver
0  King's Landing                       4  ...     3.67                   5.0
1         Astapor                       0  ...     8.26                   5.0
2         Astapor                       3  ...     0.77                   5.0
3  King's Landing                       9  ...     2.36                   4.9
4      Winterfell                      14  ...     3.13                   4.9

[5 rows x 12 columns]