<a href="https://colab.research.google.com/github/villafue/Progamming/blob/main/Python/Tutorial/Pandas/Data%20Manipulation%20with%20pandas/1%20Transforming%20Data/1_Transforming_Data_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Transforming Data

Let’s master the pandas basics. Learn how to inspect DataFrames and perform fundamental manipulations, including sorting rows, subsetting, and adding new columns.

Introducing DataFrames

1. Introducing DataFrames

Hi, I'm Richie. I'll be your tour guide through the world of pandas.
2. What's the point of pandas?

pandas is a Python package for data manipulation. It can also be used for data visualization; we'll get to that in Chapter 4.
3. Course outline

We'll start by talking about DataFrames, which form the core of pandas. In chapter 2, we'll discuss aggregating data to gather insights. In chapter 3, you'll learn all about slicing and indexing to subset DataFrames. Finally, you'll visualize your data, deal with missing data, and read data into a DataFrame. Let's dive in.
4. pandas is built on NumPy and Matplotlib

pandas is built on top of two essential Python packages, NumPy and Matplotlib. Numpy provides multidimensional array objects for easy data manipulation that pandas uses to store data, and Matplotlib has powerful data visualization capabilities that pandas takes advantage of.
5. pandas is popular

pandas has millions of users, with PyPi recording about 14 million downloads in December 2019. This represents almost the entire Python data science community!

    1 https://pypistats.org/packages/pandas

6. Rectangular data

There are several ways to store data for analysis, but rectangular data, sometimes called "tabular data" is the most common form. In this example, with dogs, each observation, or each dog, is a row, and each variable, or each dog property, is a column. pandas is designed to work with rectangular data like this.
7. pandas DataFrames

In pandas, rectangular data is represented as a DataFrame object. Every programming language used for data analysis has something similar to this. R also has DataFrames, while SQL has database tables. Every value within a column has the same data type, either text or numeric, but different columns can contain different data types.
8. Exploring a DataFrame: .head()

When you first receive a new dataset, you want to quickly explore it and get a sense of its contents. pandas has several methods for this. The first is head, which returns the first few rows of the DataFrame. We only had seven rows to begin with, so it's not super exciting, but this becomes very useful if you have many rows.
9. Exploring a DataFrame: .info()

The info method displays the names of columns, the data types they contain, and whether they have any missing values.
10. Exploring a DataFrame: .shape

A DataFrame's shape attribute contains a tuple that holds the number of rows followed by the number of columns. Since this is an attribute instead of a method, you write it without parentheses.
11. Exploring a DataFrame: .describe()

The describe method computes some summary statistics for numerical columns, like mean and median. "count" is the number of non-missing values in each column. describe is good for a quick overview of numeric variables, but if you want more control, you'll see how to perform more specific calculations later in the course.
12. Components of a DataFrame: .values

DataFrames consist of three different components, accessible using attributes. The values attribute, as you might expect, contains the data values in a 2-dimensional NumPy array.
13. Components of a DataFrame: .columns and .index

The other two components of a DataFrame are labels for columns and rows. The columns attribute contains column names, and the index attribute contains row numbers or row names. Be careful, since row labels are stored in dot-index, not in dot-rows. Notice that these are Index objects, which we'll cover in Chapter 3. This allows for flexibility in labels. For example, the dogs data uses row numbers, but row names are also possible.
14. pandas Philosophy

Python has a semi-official philosophy on how to write good code called The Zen of Python. One suggestion is that given a programming problem, there should only be one obvious solution. As you go through this course, bear in mind that pandas deliberately doesn't follow this philosophy. Instead, there are often multiple ways to solve a problem, leaving you to choose the best. In this respect, pandas is like a Swiss Army Knife, giving you a variety of tools, making it incredibly powerful, but more difficult to learn. In this course, we aim for a more streamlined approach to pandas, only covering the most important ways of doing things.

    1 https://www.python.org/dev/peps/pep-0020/

15. Let's practice!

Enough meditating, time to write some code!

# Inspecting a DataFrame

When you get a new DataFrame to work with, the first thing you need to do is explore it and see what it contains. There are several useful methods and attributes for this.

  * .head() returns the first few rows (the “head” of the DataFrame).
  * .info() shows information on each of the columns, such as the data type and number of missing values.
  * .shape returns the number of rows and columns of the DataFrame.
  * .describe() calculates a few summary statistics for each column.

homelessness is a DataFrame containing estimates of homelessness in each U.S. state in 2018. The individual column is the number of homeless individuals not part of a family with children. The family_members column is the number of homeless individuals part of a family with children. The state_pop column is the state's total population.

pandas is imported for you.

Instructions 1/4

1. Print the head of the homelessness DataFrame.

In [ ]:
# Print the head of the homelessness data
print(homelessness.head())

'''
<script.py> output:
                   region       state  individuals  family_members  state_pop
    0  East South Central     Alabama       2570.0           864.0    4887681
    1             Pacific      Alaska       1434.0           582.0     735139
    2            Mountain     Arizona       7259.0          2606.0    7158024
    3  West South Central    Arkansas       2280.0           432.0    3009733
    4             Pacific  California     109008.0         20964.0   39461588
'''

2. Print the number of rows and columns in homelessness.

In [ ]:
# Print the head of the homelessness data
print(homelessness.head())

# Print information about homelessness
print(homelessness.info())

'''
    <class 'pandas.core.frame.DataFrame'>
    Int64Index: 51 entries, 0 to 50
    Data columns (total 5 columns):
    region            51 non-null object
    state             51 non-null object
    individuals       51 non-null float64
    family_members    51 non-null float64
    state_pop         51 non-null int64
    dtypes: float64(2), int64(1), object(2)
    memory usage: 2.4+ KB
    None
'''

3. Print the number of rows and columns in homelessness.

In [ ]:
# Print the head of the homelessness data
print(homelessness.head())

# Print information about homelessness
print(homelessness.info())

# Print the shape of homelessness
print(homelessness.shape)

'''
(51, 5)
'''

4. Print some summary statistics that describe the homelessness DataFrame.

In [ ]:
# Print the head of the homelessness data
print(homelessness.head())

# Print information about homelessness
print(homelessness.info())

# Print the shape of homelessness
print(homelessness.shape)

# Print a description of homelessness
print(homelessness.describe())

'''
           individuals  family_members  state_pop
    count       51.000          51.000  5.100e+01
    mean      7225.784        3504.882  6.406e+06
    std      15991.025        7805.412  7.327e+06
    min        434.000          75.000  5.776e+05
    25%       1446.500         592.000  1.777e+06
    50%       3082.000        1482.000  4.461e+06
    75%       6781.500        3196.000  7.341e+06
    max     109008.000       52070.000  3.946e+07
'''

Conclusion

Insightful inspecting! You can see that the average number of homeless individuals in each state is about 7226. Let's explore the DataFrame further.

# Parts of a DataFrame

To better understand DataFrame objects, it's useful to know that they consist of three components, stored as attributes:

 * .values: A two-dimensional NumPy array of values.

 * .columns: An index of columns: the column names.

 * .index: An index for the rows: either row numbers or row names.

You can usually think of indexes as a list of strings or numbers, though the pandas Index data type allows for more sophisticated options. (These will be covered later in the course.)

homelessness is available.

Instructions

1. Import pandas using the alias pd.

2. Print a 2D NumPy array of the values in homelessness.

3. Print the column names of homelessness.

4. Print the index of homelessness.

In [ ]:
# Import pandas using the alias pd
import pandas as pd

# Print the values of homelessness
print(homelessness.values)

# Print the column index of homelessness
print(homelessness.columns)

# Print the row index of homelessness
print(homelessness.index)

'''
<script.py> output:
    [['East South Central' 'Alabama' 2570.0 864.0 4887681]
     ['Pacific' 'Alaska' 1434.0 582.0 735139]
     ['Mountain' 'Arizona' 7259.0 2606.0 7158024]
     ['West South Central' 'Arkansas' 2280.0 432.0 3009733]
     ['Pacific' 'California' 109008.0 20964.0 39461588]
     ['Mountain' 'Colorado' 7607.0 3250.0 5691287]
     ['New England' 'Connecticut' 2280.0 1696.0 3571520]
     ['South Atlantic' 'Delaware' 708.0 374.0 965479]
     ['South Atlantic' 'District of Columbia' 3770.0 3134.0 701547]
     ['South Atlantic' 'Florida' 21443.0 9587.0 21244317]
     ['South Atlantic' 'Georgia' 6943.0 2556.0 10511131]
     ['Pacific' 'Hawaii' 4131.0 2399.0 1420593]
     ['Mountain' 'Idaho' 1297.0 715.0 1750536]
     ['East North Central' 'Illinois' 6752.0 3891.0 12723071]
     ['East North Central' 'Indiana' 3776.0 1482.0 6695497]
     ['West North Central' 'Iowa' 1711.0 1038.0 3148618]
     ['West North Central' 'Kansas' 1443.0 773.0 2911359]
     ['East South Central' 'Kentucky' 2735.0 953.0 4461153]
     ['West South Central' 'Louisiana' 2540.0 519.0 4659690]
     ['New England' 'Maine' 1450.0 1066.0 1339057]
     ['South Atlantic' 'Maryland' 4914.0 2230.0 6035802]
     ['New England' 'Massachusetts' 6811.0 13257.0 6882635]
     ['East North Central' 'Michigan' 5209.0 3142.0 9984072]
     ['West North Central' 'Minnesota' 3993.0 3250.0 5606249]
     ['East South Central' 'Mississippi' 1024.0 328.0 2981020]
     ['West North Central' 'Missouri' 3776.0 2107.0 6121623]
     ['Mountain' 'Montana' 983.0 422.0 1060665]
     ['West North Central' 'Nebraska' 1745.0 676.0 1925614]
     ['Mountain' 'Nevada' 7058.0 486.0 3027341]
     ['New England' 'New Hampshire' 835.0 615.0 1353465]
     ['Mid-Atlantic' 'New Jersey' 6048.0 3350.0 8886025]
     ['Mountain' 'New Mexico' 1949.0 602.0 2092741]
     ['Mid-Atlantic' 'New York' 39827.0 52070.0 19530351]
     ['South Atlantic' 'North Carolina' 6451.0 2817.0 10381615]
     ['West North Central' 'North Dakota' 467.0 75.0 758080]
     ['East North Central' 'Ohio' 6929.0 3320.0 11676341]
     ['West South Central' 'Oklahoma' 2823.0 1048.0 3940235]
     ['Pacific' 'Oregon' 11139.0 3337.0 4181886]
     ['Mid-Atlantic' 'Pennsylvania' 8163.0 5349.0 12800922]
     ['New England' 'Rhode Island' 747.0 354.0 1058287]
     ['South Atlantic' 'South Carolina' 3082.0 851.0 5084156]
     ['West North Central' 'South Dakota' 836.0 323.0 878698]
     ['East South Central' 'Tennessee' 6139.0 1744.0 6771631]
     ['West South Central' 'Texas' 19199.0 6111.0 28628666]
     ['Mountain' 'Utah' 1904.0 972.0 3153550]
     ['New England' 'Vermont' 780.0 511.0 624358]
     ['South Atlantic' 'Virginia' 3928.0 2047.0 8501286]
     ['Pacific' 'Washington' 16424.0 5880.0 7523869]
     ['South Atlantic' 'West Virginia' 1021.0 222.0 1804291]
     ['East North Central' 'Wisconsin' 2740.0 2167.0 5807406]
     ['Mountain' 'Wyoming' 434.0 205.0 577601]]

------------------------------------------------------------------------------- 

    Index(['region', 'state', 'individuals', 'family_members', 'state_pop'], dtype='object')

-------------------------------------------------------------------------------

    Int64Index([0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48,
                49, 50],
               dtype='int64')
'''

Conclusion

Dynamite DataFrame dissection! DataFrames have three components: values, a column index, and a row index.

# Sorting and subsetting

1. Sorting and subsetting

In this video, we'll cover the two simplest and possibly most important ways to find interesting parts of your DataFrame.
2. Sorting

The first thing you can do is change the order of the rows by sorting them so that the most interesting data is at the top of the DataFrame. You can sort rows using the sort_values method, passing in a column name that you want to sort by. For example, when we apply sort_values on the weight_kg column of the dogs DataFrame, we get the lightest dog at the top, Stella the Chihuahua, and the heaviest dog at the bottom, Bernie the Saint Bernard.
3. Sorting in descending order

Setting the ascending argument to False will sort the data the other way around, from heaviest dog to lightest dog.
4. Sorting by multiple variables

We can sort by multiple variables by passing a list of column names to sort_values. Here, we sort first by weight, then by height. Now, Charlie, Lucy, and Bella are ordered from shortest to tallest, even though they all weigh the same.
5. Sorting by multiple variables

To change the direction values are sorted in, pass a list to the ascending argument to specify which direction sorting should be done for each variable. Now, Charlie, Lucy, and Bella are ordered from tallest to shortest.
6. Subsetting columns

We may want to zoom in on just one column. We can do this using the name of the DataFrame, followed by square brackets with a column name inside. Here, we can look at just the name column.
7. Subsetting multiple columns

To select multiple columns, you need two pairs of square brackets. In this code, the inner and outer square brackets are performing different tasks. The outer square brackets are responsible for subsetting the DataFrame, and the inner square brackets are creating a list of column names to subset. This means you could provide a separate list of column names as a variable and then use that list to perform the same subsetting. Usually, it's easier to do in one line.
8. Subsetting rows

There are lots of different ways to subset rows. The most common way to do this is by creating a logical condition to filter against. For example, let's find all the dogs whose height is greater than 50 centimeters. Now we have a True or False value for every row.
9. Subsetting rows

We can use the logical condition inside of square brackets to subset the rows we're interested in to get all of the dogs taller than 50 centimeters.
10. Subsetting based on text data

We can also subset rows based on text data. Here, we use the double equal sign in the logical condition to filter the dogs that are Labradors.
11. Subsetting based on dates

We can also subset based on dates. Here, we filter all the dogs born before 2015. Notice that the dates are in quotes and are written as year then month, then day. This is the international standard date format.
12. Subsetting based on multiple conditions

To subset the rows that meet multiple conditions, you can combine conditions using logical operators, such as the "and" operator seen here. This means that only rows that meet both of these conditions will be subsetted. You could also do this in one line of code, but you'll also need to add parentheses around each condition.
13. Subsetting using .isin()

If you want to filter on multiple values of a categorical variable, the easiest way is to use the isin method. This takes in a list of values to filter for. Here, we check if the color of a dog is black or brown, and use this condition to subset the data.
14. Let's practice!

Now it's time to practice your sorting and subsetting!

# Sorting rows

Finding interesting bits of data in a DataFrame is often easier if you change the order of the rows. You can sort the rows by passing a column name to .sort_values().

In cases where rows have the same value (this is common if you sort on a categorical variable), you may wish to break the ties by sorting on another column. You can sort on multiple columns in this way by passing a list of column names.


|Sort on … |	Syntax |
|-|-|
|one column |	df.sort_values("breed") |
|multiple columns |	df.sort_values(["breed", "weight_kg"]) |

By combining .sort_values() with .head(), you can answer questions in the form, "What are the top cases where…?".

homelessness is available and pandas is loaded as pd.

Instructions 1/3

1. Sort homelessness by the number of homeless individuals, from smallest to largest, and save this as homelessness_ind.

2. Print the head of the sorted DataFram

In [ ]:
In [1]:
homelessness.head()
Out[1]:

               region       state  individuals  family_members  state_pop
0  East South Central     Alabama       2570.0           864.0    4887681
1             Pacific      Alaska       1434.0           582.0     735139
2            Mountain     Arizona       7259.0          2606.0    7158024
3  West South Central    Arkansas       2280.0           432.0    3009733
4             Pacific  California     109008.0         20964.0   39461588

In [ ]:
# Sort homelessness by individual
homelessness_ind = homelessness.sort_values('individuals')

# Print the top few rows
print(homelessness_ind.head())

'''
<script.py> output:
                    region         state  individuals  family_members  state_pop
    50            Mountain       Wyoming        434.0           205.0     577601
    34  West North Central  North Dakota        467.0            75.0     758080
    7       South Atlantic      Delaware        708.0           374.0     965479
    39         New England  Rhode Island        747.0           354.0    1058287
    45         New England       Vermont        780.0           511.0     624358
'''

3. Sort homelessness by the number of homeless family_members in descending order, and save this as homelessness_fam.

4. Print the head of the sorted DataFrame.

In [ ]:
# Sort homelessness by descending family members
homelessness_fam = homelessness.sort_values('family_members', ascending=False)

# Print the top few rows
print(homelessness_fam.head())

'''
<script.py> output:
                    region          state  individuals  family_members  state_pop
    32        Mid-Atlantic       New York      39827.0         52070.0   19530351
    4              Pacific     California     109008.0         20964.0   39461588
    21         New England  Massachusetts       6811.0         13257.0    6882635
    9       South Atlantic        Florida      21443.0          9587.0   21244317
    43  West South Central          Texas      19199.0          6111.0   28628666
'''

5. Sort homelessness first by region (ascending), and then by number of family members (descending). Save this as homelessness_reg_fam.

6. Print the head of the sorted DataFrame.

In [ ]:
# Sort homelessness by region, then descending family members
homelessness_reg_fam = homelessness.sort_values(['region', 'family_members'], ascending=[True, False])

# Print the top few rows
print(homelessness_reg_fam.head())

'''
<script.py> output:
                    region      state  individuals  family_members  state_pop
    13  East North Central   Illinois       6752.0          3891.0   12723071
    35  East North Central       Ohio       6929.0          3320.0   11676341
    22  East North Central   Michigan       5209.0          3142.0    9984072
    49  East North Central  Wisconsin       2740.0          2167.0    5807406
    14  East North Central    Indiana       3776.0          1482.0    6695497
'''

Conclusion

Your head is sorted! Using .sort_values() and .head() form a powerful pair.

# Subsetting columns

When working with data, you may not need all of the variables in your dataset. Square brackets ([]) can be used to select only the columns that matter to you in an order that makes sense to you. To select only "col_a" of the DataFrame df, use

`df["col_a"]`

To select "col_a" and "col_b" of df, use

`df[["col_a", "col_b"]]`

homelessness is available and pandas is loaded as pd.

1. Create a DataFrame called individuals that contains only the individuals column of homelessness.

2. Print the head of the result.

In [ ]:
In [1]:
homelessness.head()
Out[1]:

               region       state  individuals  family_members  state_pop
0  East South Central     Alabama       2570.0           864.0    4887681
1             Pacific      Alaska       1434.0           582.0     735139
2            Mountain     Arizona       7259.0          2606.0    7158024
3  West South Central    Arkansas       2280.0           432.0    3009733
4             Pacific  California     109008.0         20964.0   39461588

In [ ]:
# Select the individuals column
individuals = homelessness.individuals

# Print the head of the result
print(individuals.head())

'''
<script.py> output:
    0      2570.0
    1      1434.0
    2      7259.0
    3      2280.0
    4    109008.0
    Name: individuals, dtype: float64
'''

3. Create a DataFrame called state_fam that contains only the state and family_members columns of homelessness, in that order.

4. Print the head of the result.

In [ ]:
# Select the state and family_members columns
state_fam = homelessness[['state', 'family_members']]

# Print the head of the result
print(state_fam.head())

'''
<script.py> output:
            state  family_members
    0     Alabama           864.0
    1      Alaska           582.0
    2     Arizona          2606.0
    3    Arkansas           432.0
    4  California         20964.0
'''

5. Create a DataFrame called ind_state that contains the individuals and state columns of homelessness, in that order.

6. Print the head of the result.

In [ ]:
# Select only the individuals and state columns, in that order
ind_state = homelessness[['individuals', 'state']]

# Print the head of the result
print(ind_state.head())

'''
<script.py> output:
       individuals       state
    0       2570.0     Alabama
    1       1434.0      Alaska
    2       7259.0     Arizona
    3       2280.0    Arkansas
    4     109008.0  California
'''

Conclusion

Radical reordering! Selecting and reordering columns can make data easier to work with.

# Subsetting rows

A large part of data science is about finding which bits of your dataset are interesting. One of the simplest techniques for this is to find a subset of rows that match some criteria. This is sometimes known as filtering rows or selecting rows.

There are many ways to subset a DataFrame, perhaps the most common is to use relational operators to return True or False for each row, then pass that inside square brackets.

```
dogs[dogs["height_cm"] > 60]
dogs[dogs["color"] == "tan"]
```

You can filter for multiple conditions at once by using the "bitwise and" operator, &.

`dogs[(dogs["height_cm"] > 60) & (dogs["color"] == "tan")]`

homelessness is available and pandas is loaded as pd.

Instructions

1. Filter homelessness for cases where the number of individuals is greater than ten thousand, assigning to ind_gt_10k. View the printed result.

In [ ]:
Out[1]:

               region       state  individuals  family_members  state_pop
0  East South Central     Alabama       2570.0           864.0    4887681
1             Pacific      Alaska       1434.0           582.0     735139
2            Mountain     Arizona       7259.0          2606.0    7158024
3  West South Central    Arkansas       2280.0           432.0    3009733
4             Pacific  California     109008.0         20964.0   39461588

In [ ]:
# Filter for rows where individuals is greater than 10000
ind_gt_10k = homelessness[homelessness['individuals'] > 10000]

# See the result
print(ind_gt_10k)

'''
<script.py> output:
                    region       state  individuals  family_members  state_pop
    4              Pacific  California     109008.0         20964.0   39461588
    9       South Atlantic     Florida      21443.0          9587.0   21244317
    32        Mid-Atlantic    New York      39827.0         52070.0   19530351
    37             Pacific      Oregon      11139.0          3337.0    4181886
    43  West South Central       Texas      19199.0          6111.0   28628666
    47             Pacific  Washington      16424.0          5880.0    7523869
'''

2. Filter homelessness for cases where the USA Census region is "Mountain", assigning to mountain_reg. View the printed result.

In [ ]:
# Filter for rows where region is Mountain
mountain_reg = homelessness[homelessness.region == 'Mountain']

# See the result
print(mountain_reg)

'''
<script.py> output:
          region       state  individuals  family_members  state_pop
    2   Mountain     Arizona       7259.0          2606.0    7158024
    5   Mountain    Colorado       7607.0          3250.0    5691287
    12  Mountain       Idaho       1297.0           715.0    1750536
    26  Mountain     Montana        983.0           422.0    1060665
    28  Mountain      Nevada       7058.0           486.0    3027341
    31  Mountain  New Mexico       1949.0           602.0    2092741
    44  Mountain        Utah       1904.0           972.0    3153550
    50  Mountain     Wyoming        434.0           205.0     577601
'''

3. Filter homelessness for cases where the number of family_members is less than one thousand and the region is "Pacific", assigning to fam_lt_1k_pac. View the printed result.

In [ ]:
# Filter for rows where family_members is less than 1000 
# and region is Pacific
fam_lt_1k_pac = homelessness[(homelessness['family_members'] < 1000) & 
                             (homelessness['region'] == 'Pacific')]

# See the result
print(fam_lt_1k_pac)

'''
<script.py> output:
        region   state  individuals  family_members  state_pop
    1  Pacific  Alaska       1434.0           582.0     735139
'''

Conclusion

Superb subsetting! Using square brackets plus logical conditions is often the most powerful way of identifying interesting rows of data.

# Subsetting rows by categorical variables

Subsetting data based on a categorical variable often involves using the "or" operator (|) to select rows from multiple categories. This can get tedious when you want all states in one of three different regions, for example. Instead, use the .isin() method, which will allow you to tackle this problem by writing one condition instead of three separate ones.

```
colors = ["brown", "black", "tan"]
condition = dogs["color"].isin(colors)
dogs[condition]
```
homelessness is available and pandas is loaded as pd.

Instructions

1. Filter homelessness for cases where the USA census region is "South Atlantic" or it is "Mid-Atlantic", assigning to south_mid_atlantic. View the printed result.

In [ ]:
In [1]:
homelessness.head()
Out[1]:

               region       state  individuals  family_members  state_pop
0  East South Central     Alabama       2570.0           864.0    4887681
1             Pacific      Alaska       1434.0           582.0     735139
2            Mountain     Arizona       7259.0          2606.0    7158024
3  West South Central    Arkansas       2280.0           432.0    3009733
4             Pacific  California     109008.0         20964.0   39461588

In [ ]:
# Subset for rows in South Atlantic or Mid-Atlantic regions
south_mid_atlantic = homelessness[homelessness['region'].isin(['South Atlantic', 'Mid-Atlantic'])]

# See the result
print(south_mid_atlantic)

'''
<script.py> output:
                region                 state  individuals  family_members  state_pop
    7   South Atlantic              Delaware        708.0           374.0     965479
    8   South Atlantic  District of Columbia       3770.0          3134.0     701547
    9   South Atlantic               Florida      21443.0          9587.0   21244317
    10  South Atlantic               Georgia       6943.0          2556.0   10511131
    20  South Atlantic              Maryland       4914.0          2230.0    6035802
    30    Mid-Atlantic            New Jersey       6048.0          3350.0    8886025
    32    Mid-Atlantic              New York      39827.0         52070.0   19530351
    33  South Atlantic        North Carolina       6451.0          2817.0   10381615
    38    Mid-Atlantic          Pennsylvania       8163.0          5349.0   12800922
    40  South Atlantic        South Carolina       3082.0           851.0    5084156
    46  South Atlantic              Virginia       3928.0          2047.0    8501286
    48  South Atlantic         West Virginia       1021.0           222.0    1804291
'''

2. Filter homelessness for cases where the USA census state is in the list of Mojave states, canu, assigning to mojave_homelessness. View the printed result.

In [ ]:
# The Mojave Desert states
canu = ["California", "Arizona", "Nevada", "Utah"]

# Filter for rows in the Mojave Desert states
mojave_homelessness = homelessness[homelessness['state'].isin(canu)]

# See the result
print(mojave_homelessness)

'''
<script.py> output:
          region       state  individuals  family_members  state_pop
    2   Mountain     Arizona       7259.0          2606.0    7158024
    4    Pacific  California     109008.0         20964.0   39461588
    28  Mountain      Nevada       7058.0           486.0    3027341
    44  Mountain        Utah       1904.0           972.0    3153550
'''

Conclusion

Success is in the air! Using .isin() makes subsetting categorical variables a breeze.

# New columns

1. New columns

In the last lesson, you saw how to subset and sort a DataFrame to extract interesting bits. However, often when you first receive a DataFrame, the contents aren't exactly what you want. You may have to add new columns derived from existing columns.
2. Adding a new column

Creating and adding new columns can go by many names, including mutating a DataFrame, transforming a DataFrame, and feature engineering. Let's say we want to add a new column to our DataFrame that has each dog's height in meters instead of centimeters. On the left-hand side of the equals, we use square brackets with the name of the new column we want to create. On the right-hand side, we have the calculation. Notice that both the existing column and the new column we just created are in the DataFrame.
3. Doggy mass index

Let's see what the results are if we calculate the body mass index, or BMI, of these dogs. BMI is usually calculated by taking a person's weight in kilograms and dividing it by their height in meters, squared. Instead of doing this with people, we'll try it out with dogs. Again, the new column is on the left-hand side of the equals, but this time, our calculation involves two columns.
4. Multiple manipulations

The real power of pandas comes in when you combine all the skills you've learned so far. Let's figure out the names of skinny, tall dogs. First, to define the skinny dogs, we take the subset of the dogs who have a BMI of under 100. Next, we sort the result in descending order of height to get the tallest skinny dogs at the top. Finally, we keep only the columns we're interested in. Here, you can see that Max is the tallest dog with a BMI of under 100.
5. Let's practice!

Time to practice your pandas powers!

# Adding new columns

You aren't stuck with just the data you are given. Instead, you can add new columns to a DataFrame. This has many names, such as transforming, mutating, and feature engineering.

You can create new columns from scratch, but it is also common to derive them from other columns, for example, by adding columns together or by changing their units.

homelessness is available and pandas is loaded as pd.

Instructions

1. Add a new column to homelessness, named total, containing the sum of the individuals and family_members columns.

2. Add another column to homelessness, named p_individuals, containing the proportion of homeless people in each state who are individuals.

In [ ]:
Out[1]:

               region       state  individuals  family_members  state_pop
0  East South Central     Alabama       2570.0           864.0    4887681
1             Pacific      Alaska       1434.0           582.0     735139
2            Mountain     Arizona       7259.0          2606.0    7158024
3  West South Central    Arkansas       2280.0           432.0    3009733
4             Pacific  California     109008.0         20964.0   39461588

In [ ]:
# Add total col as sum of individuals and family_members
homelessness['total'] = homelessness.individuals + homelessness.family_members

# Add p_individuals col as proportion of individuals
homelessness['p_individuals'] = (homelessness.individuals / homelessness.total) 

# See the result
print(homelessness)

'''
<script.py> output:
                    region                 state  individuals  family_members  state_pop     total  p_individuals
    0   East South Central               Alabama       2570.0           864.0    4887681    3434.0          0.748
    1              Pacific                Alaska       1434.0           582.0     735139    2016.0          0.711
    2             Mountain               Arizona       7259.0          2606.0    7158024    9865.0          0.736
    3   West South Central              Arkansas       2280.0           432.0    3009733    2712.0          0.841
    4              Pacific            California     109008.0         20964.0   39461588  129972.0          0.839
    5             Mountain              Colorado       7607.0          3250.0    5691287   10857.0          0.701
    6          New England           Connecticut       2280.0          1696.0    3571520    3976.0          0.573
    7       South Atlantic              Delaware        708.0           374.0     965479    1082.0          0.654
    8       South Atlantic  District of Columbia       3770.0          3134.0     701547    6904.0          0.546
    9       South Atlantic               Florida      21443.0          9587.0   21244317   31030.0          0.691
    10      South Atlantic               Georgia       6943.0          2556.0   10511131    9499.0          0.731
    11             Pacific                Hawaii       4131.0          2399.0    1420593    6530.0          0.633
    12            Mountain                 Idaho       1297.0           715.0    1750536    2012.0          0.645
    13  East North Central              Illinois       6752.0          3891.0   12723071   10643.0          0.634
    14  East North Central               Indiana       3776.0          1482.0    6695497    5258.0          0.718
    15  West North Central                  Iowa       1711.0          1038.0    3148618    2749.0          0.622
    16  West North Central                Kansas       1443.0           773.0    2911359    2216.0          0.651
    17  East South Central              Kentucky       2735.0           953.0    4461153    3688.0          0.742
    18  West South Central             Louisiana       2540.0           519.0    4659690    3059.0          0.830
    19         New England                 Maine       1450.0          1066.0    1339057    2516.0          0.576
    20      South Atlantic              Maryland       4914.0          2230.0    6035802    7144.0          0.688
    21         New England         Massachusetts       6811.0         13257.0    6882635   20068.0          0.339
    22  East North Central              Michigan       5209.0          3142.0    9984072    8351.0          0.624
    23  West North Central             Minnesota       3993.0          3250.0    5606249    7243.0          0.551
    24  East South Central           Mississippi       1024.0           328.0    2981020    1352.0          0.757
    25  West North Central              Missouri       3776.0          2107.0    6121623    5883.0          0.642
    26            Mountain               Montana        983.0           422.0    1060665    1405.0          0.700
    27  West North Central              Nebraska       1745.0           676.0    1925614    2421.0          0.721
    28            Mountain                Nevada       7058.0           486.0    3027341    7544.0          0.936
    29         New England         New Hampshire        835.0           615.0    1353465    1450.0          0.576
    30        Mid-Atlantic            New Jersey       6048.0          3350.0    8886025    9398.0          0.644
    31            Mountain            New Mexico       1949.0           602.0    2092741    2551.0          0.764
    32        Mid-Atlantic              New York      39827.0         52070.0   19530351   91897.0          0.433
    33      South Atlantic        North Carolina       6451.0          2817.0   10381615    9268.0          0.696
    34  West North Central          North Dakota        467.0            75.0     758080     542.0          0.862
    35  East North Central                  Ohio       6929.0          3320.0   11676341   10249.0          0.676
    36  West South Central              Oklahoma       2823.0          1048.0    3940235    3871.0          0.729
    37             Pacific                Oregon      11139.0          3337.0    4181886   14476.0          0.769
    38        Mid-Atlantic          Pennsylvania       8163.0          5349.0   12800922   13512.0          0.604
    39         New England          Rhode Island        747.0           354.0    1058287    1101.0          0.678
    40      South Atlantic        South Carolina       3082.0           851.0    5084156    3933.0          0.784
    41  West North Central          South Dakota        836.0           323.0     878698    1159.0          0.721
    42  East South Central             Tennessee       6139.0          1744.0    6771631    7883.0          0.779
    43  West South Central                 Texas      19199.0          6111.0   28628666   25310.0          0.759
    44            Mountain                  Utah       1904.0           972.0    3153550    2876.0          0.662
    45         New England               Vermont        780.0           511.0     624358    1291.0          0.604
    46      South Atlantic              Virginia       3928.0          2047.0    8501286    5975.0          0.657
    47             Pacific            Washington      16424.0          5880.0    7523869   22304.0          0.736
    48      South Atlantic         West Virginia       1021.0           222.0    1804291    1243.0          0.821
    49  East North Central             Wisconsin       2740.0          2167.0    5807406    4907.0          0.558
    50            Mountain               Wyoming        434.0           205.0     577601     639.0          0.679
'''

Conclusion

Astounding column assignment! If your dataset doesn't have the exact columns you need, you can often make your own from what you have.

# Combo-attack!

You've seen the four most common types of data manipulation: sorting rows, subsetting columns, subsetting rows, and adding new columns. In a real-life data analysis, you can mix and match these four manipulations to answer a multitude of questions.

In this exercise, you'll answer the question, "Which state has the highest number of homeless individuals per 10,000 people in the state?" Combine your new pandas skills to find out.

Instructions

1. Add a column to homelessness, indiv_per_10k, containing the number of homeless individuals per ten thousand people in each state.

2. Subset rows where indiv_per_10k is higher than 20, assigning to high_homelessness.

3. Sort high_homelessness by descending indiv_per_10k, assigning to high_homelessness_srt.

4. Select only the state and indiv_per_10k columns of high_homelessness_srt and save as result. Look at the result.

In [ ]:
In [1]:
homelessness.head()
Out[1]:

               region       state  individuals  family_members  state_pop
0  East South Central     Alabama       2570.0           864.0    4887681
1             Pacific      Alaska       1434.0           582.0     735139
2            Mountain     Arizona       7259.0          2606.0    7158024
3  West South Central    Arkansas       2280.0           432.0    3009733
4             Pacific  California     109008.0         20964.0   39461588

In [ ]:
# Create indiv_per_10k col as homeless individuals per 10k state pop
homelessness["indiv_per_10k"] = 10000 * homelessness.individuals / homelessness.state_pop 

# Subset rows for indiv_per_10k greater than 20
high_homelessness = homelessness[homelessness.indiv_per_10k > 20]

# Sort high_homelessness by descending indiv_per_10k
high_homelessness_srt = high_homelessness.sort_values('indiv_per_10k', ascending=False)

# From high_homelessness_srt, select the state and indiv_per_10k cols
result = high_homelessness_srt[['state', 'indiv_per_10k']]

# See the result
print(result)

'''
<script.py> output:
                       state  indiv_per_10k
    8   District of Columbia         53.738
    11                Hawaii         29.079
    4             California         27.624
    37                Oregon         26.636
    28                Nevada         23.314
    47            Washington         21.829
    32              New York         20.392
'''

Conclusion

Cool combination! Washington, D.C. has the highest number of homeless individuals - almost 54 per ten thousand people. This is almost double the number of the next-highest state, Hawaii. If you combine new column addition, row subsetting, sorting, and column selection, you can answer lots of questions like this.